.section-label {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.04em;

    text-align: center;
    text-transform: uppercase;

    color: title-rose;

    /* @media screen and (min-width: tablet) {
        font-size: 26px;
    }

    @media screen and (min-width: desktop) {
        font-size: 30px;
    } */
}

.section-title {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.06em;

    text-align: center;
    text-transform: uppercase;

    color: title-red;

    /* @media screen and (min-width: tablet) {
        font-size: 48px;
    }

    @media screen and (min-width: desktop) {
        font-size: 58px;
    } */
}