  .aside {
    @media screen and (max-width: 1199px) {
      display: none;
    }
    padding-bottom: 94px;
  }
  .aside__list {
  display: flex;
  margin-left: -30px;
  }
  .aside__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  position: relative;
  }
  .aside__title{
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  }
  .aside__text {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }